@charset "UTF-8";

/* body { */
/* 	background-color: black; */
/* 	color: aqua; */
/* } */

body {
        background: #000;
        background-image: url("../img/waves_4.jpg");
        background-size: cover;
        background-repeat: no-repeat;
		color: aqua;
/*         background-position: center center; */
    }

h1 {
	color: aqua;
}

#Ocaen_input {
	color: white;
	/* left: 0%; */
	text-align: center
}

.input_text {
	outline: none;
	border: none;
	border-bottom: 1px solid white;
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 10px;
	background-color: black;
	color: white;
}

#input_div {
	margin: 150px 0px 0px 0px;
	text-align: center;
	/* border: 1px solid white; */
}

.hide {
	display: none;
}