#input_div ul {
    display: flex;
    justify-content: center;
    /* 將元素置於容器中央 */
    list-style: none;
    /* 去除項目點 */
    padding: 0;
}

#input_div li.profile {
    margin: 0 10px;
    /* 設定項目之間的間距 */
}

.member_image {
    display: block;
    /* 確保圖片為塊級元素 */
    width: 100%;
    /* 圖片佔據其父元素的 100% 寬度 */
    max-width: 200px;
    /* 設定圖片的最大寬度 */
    height: auto;
    /* 讓高度自適應，保持比例 */
}

.add_image {
    display: block;
    /* 確保圖片為塊級元素 */
    width: 100%;
    /* 圖片佔據其父元素的 100% 寬度 */
    max-width: 200px;
    /* 設定圖片的最大寬度 */
    height: auto;
    /* 讓高度自適應，保持比例 */
}

.img_div:hover {
    border: 5px solid aqua;
    color: aqua;
}



.img_div{
    color: white;
}

li.profile a {
    text-decoration: none;
}

.choose-profile {
    list-style-type: none;
}

.add_ul_profile{
    list-style-type: none;
}